
/* ----------------------------------- */
.tablink {
  background-color: #555;
  color: white;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 15px;
  font-weight: bold;
}

.tablink:hover {
  background-color: yellowgreen;
}

.tabcontent {
  color: black;
}
